
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* #region Debug */
.debug{
    #header-site{
        background-color: #add8e6;
    }
     .logo{
        background-color: #daa520;
        
    }
    
    .login{
        background-color: #daa520;
    }
}
/* #endregion Debug */
nav{
    display: flex;
    align-items: center;
}
li{
    padding: 0.25rem 0.75rem;
}

.logo{
    width: 250px;
    border: 1px dashed black;
    padding: 0.25rem 0.75rem;
}
.main-menu{
    width: 700px;
    border: 1px dashed black;
    
}
.login{
    width: 250px;
    border: 1px dashed black;
    text-align: end;
    padding: 0.25rem 0.75rem;
   
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 100%;    
}

#header-site{
    height: 80px;
}
.main-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #daa520;
}

