
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* #region Debug */
.debug{
    .main-menu{
        border: 1px dashed black;
    background-color: #daa520;
    }
    #header-site{
        background-color: #add8e6;
    }
     .logo{
        background-color: #daa520;
        border: 1px dashed black;
    }
    
    .login{
        background-color: #daa520;
         border: 1px dashed black;
    }
    .column1{
        height: 350px;
        background-color: #00008b;
    }
    .c_small{
        background-color: #ee82ee;
        border: 1px dashed black;
    }
    .column2{
        height: 350px;
        background-color: white;
    }
    .rect1{
        background-color: #1e90ff;
        border: 1px dashed black;
        height: 340px;    
    }
    .rect2{
        background-color:#ffc0cb;
        height: 340px;
        border: 1px dashed black;
    }
}
/* #endregion Debug */

/* #region header */
nav{
    display: flex;
    align-items: center;
}
li{
    padding: 0.25rem 0.75rem;
}

.logo{
    width: 250px;
    padding: 0.25rem 0.75rem;
}
.main-menu{
    width: 700px;
    
}
.login{
    width: 250px;
    text-align: end;
    padding: 0.25rem 0.75rem;
   
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 100%;    
}

#header-site{
    height: 80px;
}
.main-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
/* #endregion header */
#main-site{
    height: 200px;
    width: 100%;
}
.column1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 300px;
}
.c_small{
    width: 55%;
    height: 90%;
}
.d-container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.rect1{
    width: 400px;
}
.rect2{
    width: 250px;
}
.column2{
     /* display: flex;
    justify-content: center;
    align-items: center;
  */
}